__pycache__/
.vscode/
.thumbs/
*.pyc
*.pyo
*.pyd
.thumbs/
.DS_Store
*.log
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
*.ipynb_checkpoints/
spikerbox_test/
v1/
v2/gripper_camera_recording/
v2/session_samples.csv
