__pycache__/
.vscode/
.thumbs/
*.pyc
*.pyo
*.pyd
.thumbs/
.DS_Store
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
*.ipynb_checkpoints/
metrics/out/
metrics/*.json
metrics/*.csv
spikerbox_test/